.menu{
    background-color: #CBFFE6;
}

.formulario{
    background-color: #FFE8CB;
    padding: 40px 40px;
}
.boton{
    background-color: #FFCBDC;
}

nav a{
    color: #000;
    font-weight: bold;
    margin-right: 10px;
}

div a.nav-link{
    color: #000;
    font-weight: bold;
}

div a.activo{
    color: rgb(22, 9, 204);
    font-weight: bold;
    background-color: #64FEB4;
}

.boton{
    color: #000;
    font-weight: bold;
    border-radius: 10px;
}